*:not(:ul li):not(:ol li) {
  padding: 0;
}

body {
  font: 16px 'Roboto';
}

.conteiner {
  width: 620px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 20px 0;
}

.header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.photo,
.author {
  display: inline-block;
}

.author {
  margin-left: 15px;
  vertical-align: top;
}

.info_box span {
  color: #95a5a6
}


/* задаем свойства заголовку */

h3 {
  text-align: center;
  color: #2c3e50;
}


/* задаем свойства горизонтальной линии */

hr {
  border: none;
  color: #eee;
  background-color: #eee;
  height: 1px;
}


/* задаем свойства тексту */

p {
  text-align: left;
  color: #34495e;
}

a {
  text-decoration: none;
  color: #3498db;
}

img.intextalign{
 width: 620px;
 height:auto;
}

img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

.contacts {
  text-align: right;
}

/* Свойства списка */

ul {
  list-style-type: square;
}

ul li, ol li {
  line-height: 1.5;
}

ol {
  list-style-type: circle
}

/* Колонки таблицей */

TABLE {
    width: 600px; /* Ширина таблицы */
    border-bottom: 2px solid #ffffff; /* Линия внизу таблицы */
    background: #ffffff; /* Цвет фона таблицы */
   }
   TH {
    background: #ffffff; /* Цвет фона заголовка */
    color: black; /* Цвет текста */
    text-align: left; /* Выравнивание по левому краю */
   }
   TD, TH {
    vertical-align: top;
    padding: 3px; /* Поля вокруг текста */
   }
